$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Freckle+Face|Frijole|Permanent+Marker|Rock+Salt');

// body,
// html {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   background: url('https://i.imgur.com/EY7zHef.jpg') rgba(0, 0, 0, 0.1);
// }
//
// .bg {
//   &::after {
//     background-image: url('https://i.imgur.com/EY7zHef.jpg');
//     content: '';
//     left: 0;
//     margin: 0;
//     min-height: 100%;
//     opacity: .3;
//     padding: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
//     z-index: -1;
//   }
// }

.container-fluid {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Frijole', cursive;
  font-size: 4em;
  margin: 0;
  padding-top: 20px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin-top: 5px;
  padding-bottom: 10px;
}

header {
  background-color: rgba(113, 76, 12, .75);
  color: #dcdcdc;
  text-align: center;
}

footer {
  background-color: rgba(27, 80, 27, .75);
  color: #dcdcdc;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 26px;
  padding: 20px 100px 10px;
}

.bg {
  height: 100vh;
  position: relative;

  &::before {
    background-image: url('https://i.imgur.com/0g3DYa1.jpg');
    bottom: 0;
    content: '';
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.allcontent {
  display: flex;
  flex-flow: column;
  height: 100%;
  z-index: 2;
}

.copyright {
  float: left;
}

.main-content {
  display: flex;
  flex: 1 1 auto;
  overflow: scroll;
}

.middle-content {
  display: flex;
  flex-flow: row;
  height: 100%;
  z-index: 2;
}



.hide-when-signed-out {
  display: none;
  width: 100%;
}

.signature {
  float: right;
}

.sign-in-box {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  height: auto;
  margin: 30px auto 0;
  max-width: 600px;
  padding: 30px;
  padding-top: 15px;
  width: 50%;

  legend {
    border-bottom: 0;
    margin: 0;
    padding: 10px;
  }
}

.left-side {
  background-color: rgba(255, 255, 255, .5);
  flex: 1 0 45%;
  height: 100%;
  margin: auto 10px;
  overflow: scroll;
  padding: 10px;
  z-index: 10;
}

.right-side {
  background-color: rgba(255, 255, 255, .5);
  flex: 1 0 55%;
  height: 100%;
  overflow: scroll;
  padding: 10px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
  }

  .copyright,
  .signature {
    float: none;
  }

  .sign-in-box {
    padding-left: 15px;
  }
}
