$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Freckle+Face|Frijole|Permanent+Marker|Rock+Salt');
@import '~//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css';

$header-brown: rgba(113, 76, 12, .8);
$footer-green: rgba(27, 80, 27, .8);
$greyish-text: #e3e3e3;
$offwhite-panels: rgba(255, 255, 255, .65);
$text-black: #333;

.container-fluid {
  margin: 0;
  padding: 0;
}

h2,
h3,
h4 {
  margin: 5px auto;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

header {
  background-color: $header-brown;
  color: $greyish-text;
  text-align: center;

  h1 {
    font-family: 'Frijole', cursive;
    font-size: 4em;
    margin: 0;
    padding-top: 20px;
  }

  h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    margin-top: 5px;
    padding-bottom: 10px;
  }
}

footer {
  background-color: $footer-green;
  color: $greyish-text;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 26px;
  margin-top: 20px;
  padding: 20px 100px 10px;
}

.radio {
  margin-top: 0;
}

textarea {
  margin-bottom: 15px;
  resize: none;
}

.bg {
  height: 100vh;
  position: relative;

  &::before {
    background-image: url('https://i.imgur.com/0g3DYa1.jpg');
    bottom: 0;
    content: '';
    left: 0;
    opacity: .85;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.small {
  color: text-black;
}

.allcontent {
  display: flex;
  flex-flow: column;
  height: 100%;
  z-index: 2;
}

.buttonbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.copyright {
  float: left;
}

.climber-icon {
  height: 18px;
  width: 18px;
}

.climber-color {
  fill: white;
}

.form-horizontal {

  .form-group {
    margin-bottom: 0;
  }

  textarea {
    margin-bottom: 0;
  }
}

.glyphicon-fire {
  color: red;
}

.hide-when-signed-out {
  display: none;
  margin-bottom: 20px;
  width: 100%;
}

.left-side {
  background-color: $offwhite-panels;
  border-radius: 20px;
  flex: 0 0 45%;
  height: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: scroll;
  padding: 20px;
  z-index: 10;
}

.main-content {
  display: flex;
  flex: 1 1 auto;
}

.middle-content {
  display: flex;
  flex-flow: row;
  height: 100%;
  margin: 20px;
  z-index: 2;
}

.password-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

    input {
    flex-shrink: 1;
    margin: 5px;


  }
}

.route-name {
  display: inline;
}

.sign-in-box {
  background-color: $offwhite-panels;
  border-radius: 10px;
  height: auto;
  margin: 50px auto 0;
  max-width: 600px;
  padding: 5px 30px 15px;
  width: 50%;

  legend {
    border-bottom: 0;
    margin: 0;
    padding: 10px;
  }
}

.sign-in-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  > input {
    flex-shrink: 1;
    margin: 5px;
  }
}


.sign-up-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  > input {
    flex-shrink: 1;
    margin: 5px;
  }
}

.signature {
  float: right;
}

.right-side {
  background-color: $offwhite-panels;
  border-radius: 20px;
  flex: 1 0 50%;
  height: 100%;
  overflow: scroll;
  padding: 20px;

  legend {
    border-bottom: 0;
    margin-bottom: 10px;
    }

  div {

    div {
      margin-bottom: 10px;
    }
  }
}

.user-actions {

  legend {
    border: 0;
    margin-bottom: 5px;
  }
}

.projectbuttons {
  display: flex;
  margin: 0 -15px;

  button {
    flex-grow: 1;
    margin: 0 15px;
  }
}

@media (max-width: 700px) {

  header {

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  .sign-in-box {
    display: block;
    width: 100%;
    flex-wrap: wrap;
  }


  .left-side {
    flex: 1 1 100%;
  }

  footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
  }

  .copyright,
  .signature {
    float: none;
  }

  .sign-in-box {
    padding-left: 15px;
  }

  .password-box {
    flex-wrap: wrap;
  }
}
